body {
    background-image: url("Screenshot\ \(134\).png");
    background-repeat: repeat-x;
    position: relative;
}
.signup {
    width: 350px;
    height: 650px;
    background-color: rgb(201, 201, 201);
    float: left;
    position: absolute;
    left: 50%;
    margin-left: -175px;
    margin-top: 20px;
    padding-top: 20px;
    border-radius: 30px;
    display: flex;
}
form {
    margin: 20px;
}
.userimg ,.emailimg,.passimg {
    margin-top: 20px;
    position: relative;
    left: 130px;
}
.signup form input {
    border: none;
    background-color: inherit;
    border-bottom: 3px solid black;
    margin: 20px;
    width: 250px;
}
.signup form input:focus {
    border-bottom: 2px solid rgb(92, 84, 237);
    outline: none;
}
.signup form .sign {
    width: 80px;
    height: 30px;
    background-color: rgb(196, 107, 218);
    border-radius: 10px;
    margin-top: 20px;
    position: relative;
    left: 110px;
    text-align: center;
}
.signup form .sign a {
    text-decoration: none;
    color: black;
    font-size: larger;
    font-weight: bold;
    text-transform: capitalize;
}